/* General CSS Properties */
body {
  background-color: #F2F4F6 !important;
  background-attachment: fixed;
  background-size: cover;
  /*font-family: 'Lora', serif;*/
  font-weight: 300;
  height: 100vh;
  padding: 35px;
}

a:link,
a:visited,
a:focus {
  color:inherit !important;
  text-decoration: none !important;
}

a:hover {
  color: #000 !important;
  text-decoration: none !important;
}

hr {
    border-color: #444;
}

/* Navbar/sidebar */
.sidebar {
  background: #333;
  height: 100vh;
  padding-top: 20px;
  width: 80px;
  position: fixed;
  top: 0;
  left: 0;
}

.nyt-logo {
  width: 50px;
  height: auto;
  margin-left: 13px;
  margin-top: 15px;
  border: 2px solid #666;
}

.nav-logo {
  width: 50px;
  height: auto;
  margin-left: -10px;
  margin-top: -12px;
  border: 2px solid #666;
}

/* Button Tags CSS */

.select,
.options:hover,
.top-select,
.top-select:hover {
    background: #fff;
    span {
        color: #333;
    }
}

/*.btn,
.btn:focus {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: (100%);
  transition: (0.5s);
  outline: none;
  box-shadow: 0px transparent;
  box-shadow: 2px 3px 4px #BBB;
  background: #333;
  span {
    color: #fff;
  }
}*/


.btn {
  margin: 5px !important;
  border-radius: 50% !important;
  margin-left: 15px !important;
}
.options,
.options:focus {
    height: 45px;
    width: 45px !important;
    border-radius: (100%);
    background: #252525;
    border: 1px solid transparent;
    margin: 6px 2px;
    transition: (0.5s);
    cursor: pointer;
    span {
        color: #AAA;
        padding-top: 8px;
        transition(0.5s);
        font-size: 15px;
    }
}
/*
.select,
.options:hover,
.top-select,
.top-select:hover {
    background: #fff;
    span {
        color: #333;
    }
}*/

/* Form CSS */
.form-control,
.form-control:focus {
  background: transparent !important;
  border: none !important;
  font-size: 16px !important;
  padding: 35px 25px !important;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0;
  border-bottom: 1px solid #DDD !important;
  width: 88.9% !important;
  margin: 20px !important;
}

.input-group {
  width: 100%;
}

::-webkit-input-placeholder {
  color: #7F8C8D;
}

.material-icons {
  font-size: 16px !important;
  color: #7F8C8D;
  position: absolute;
  margin-top: 6px;
  margin-left: -8px;
}

.search {
  top: 42px;
  left: 25px;
}


/* Card */

.card {
  background: #fff;
  width: 250px;
  height: 120px;
  overflow: hidden;
  overflow-x: hidden !important;
  border: 1px solid #E1E6EB;
  margin: 10px;
  /*overflow-y: scroll;*/
  -webkit-transition: (0.5s);
  transition: 0.5s;
}

.card:hover {
  border-color: #CED5DB;
}

/*
.card-title {
  font-family: 'Lora', serif;
  font-size: 18px;
  padding: 12px 0px 0px 10px;
}*/

.card-headline {
  /*font-family: 'Lora', serif;*/
  font-size: 14px;
  font-weight: 800;
  padding: 12px 0px 0px 10px;
}

.card-text {
  font-size: 12px;
}
.card-img {
  margin-left: -15px;
  display: inline;
  float: left;
  margin-right: 15px;
  height: 120px;
  width: auto;
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
  -webkit-transition: (0.5s);
  transition: 0.5s;
}
.card:hover .card-img {
  -webkit-filter: brightness(100%) !important;
  filter: brightness(100%) !important;
}

hr {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  border: 0 !important;
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.navbar {
  border: none;
  /*margin-bottom: -20px !important;*/
}

.navbar-fixed-top {
  z-index: none !important;
}

.navbar-inverse {
    position: inline;
    background-color: #333 !important;
    border-color: #080808;
}
.navbar .navbar-nav>li>a {
    color: #fff !important;
}

.navbar-collapse {
  border-top: none !important;
  max-height: none !important;
}
/* starting start of animation */
/*.fade-enter {
  bottom: -50px;
  opacity: 0;
}*/
/* end state of animation */
/*.fade-enter-active {
  bottom: 0px;
  opacity: 0.1;
  transition: .3s ease-in all;
}

.fade-leave {
  top: 0px;
  opacity: 0;
}

.fade-leave-active {
  top: -50px;
  opacity: 0.1;
  tranistion: .3s ease-out all;
}*/

/* Media Query for Smaller Devices */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 769px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    .navbar { display: none;}
}
@media only screen and (max-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .sidebar { display: none;}
    .card-headline {
      font-size: 9px;
    }
    .card-text {
      font-size: 9px;
    }
}
