/* General CSS Properties */
body {
  background-color: #F2F4F6 !important;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Lora', serif;
  font-weight: 300;
  height: 100vh;
}

a:link,
a:visited,
a:focus {
  color:inherit !important;
  text-decoration: none !important;
}

a:hover {
  color: #000 !important;
  text-decoration: none !important;
}

hr {
    border-color: #444;
}

/* Navbar/sidebar */
.sidebar {
    background: #333;
    height: 100vh;
    padding-top: 20px;
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
}

.nyt-logo {
    width: 50px;
    height: auto;
    margin-left: 13px;
    margin-top: 15px;
    border: 2px solid #666;
}

/* Button Tags CSS */

.select,
.options:hover,
.top-select,
.top-select:hover {
    background: #fff;
    span {
        color: #333;
    }
}

/*.btn,
.btn:focus {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: (100%);
  transition: (0.5s);
  outline: none;
  box-shadow: 0px transparent;
  box-shadow: 2px 3px 4px #BBB;
  background: #333;
  span {
    color: #fff;
  }
}*/
.btn {
  border-radius: 50% !important;
  margin-left: 15px !important;
}
.options,
.options:focus {
    height: 45px;
    width: 45px !important;
    border-radius: (100%);
    background: #252525;
    border: 1px solid transparent;
    margin: 6px 2px;
    transition: (0.5s);
    cursor: pointer;
    span {
        color: #AAA;
        padding-top: 8px;
        transition(0.5s);
        font-size: 15px;
    }
}
/*
.select,
.options:hover,
.top-select,
.top-select:hover {
    background: #fff;
    span {
        color: #333;
    }
}*/

/* Form CSS */
.form-control,
.form-control:focus {
  background: transparent !important;
  border: none !important;
  font-size: 16px !important;
  padding: 35px 25px !important;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0;
  border-bottom: 1px solid #DDD !important;
  width: 88.9% !important;
  margin: 20px !important;
}


::-webkit-input-placeholder {
  color: #7F8C8D;
}

.material-icons {
  font-size: 16px;
  color: #7F8C8D;
  position: absolute;
  margin-left: -12px;
}

.search {
  top: 52px;
  left: 25px;
}
/* Card */

.card {
  background: #fff;
  width: 250px;
  height: 120px;
  overflow: hidden;
  border: 1px solid #E1E6EB;
  overflow: scroll;
  -webkit-transition: (0.5s);
  transition: 0.5s;
}

.card:hover {
  border-color: #CED5DB;
}


.card-title {
  font-family: 'Lora', serif;
  font-size: 18px;
  padding: 12px 0px 0px 10px;
}

.card-text {
  font-size: 10px;
}
.card-img {
  margin-left: -15px;
  display: inline;
  float: left;
  margin-right: 15px;
  height: 120px;
  width: auto;
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
  -webkit-transition: (0.5s);
  transition: 0.5s;
}
.card:hover .card-img {
  -webkit-filter: brightness(100%) !important;
  filter: brightness(100%) !important;
}
